{#
# This file is only used to extract strings using gettext
# These strings are used by giveaminute/messaging.py
#}

{{ _('You have been invited by %(username)s to join a project on %(sitename)s') }}
        
{{ _('A new member %(membername)s has joined your project %(projectname)s on %(sitename)s') }}
        
{{ _('%(leader)s endorsed your project!') }}

{{ _('A project on %(sitename)s has added %(resourcename)s as a resource') }}

{{ _('Your resource has been approved') }}

{{ _('Your account has been deactivated') }}

{{ _('Your password has been reset') }}

{{ _('%(sitename)s message from %(username)s') }}

{{ _('Please authenticate your account on %(sitename)s') }}

{{ _('Thanks for submitting an idea to %(sitename)s') }}

{{ _('There is a new comment on your idea on %(sitename)s!') }}

{{ _('New message in your project on %(sitename)s') }}

{#
# Used in project.py
#}
{{ _('New Member! Your project now has %(number)s total!') }}

{{ _('Congratulations! Your group has now been endorsed by %(firstname) %(lastname)s.') }}